@import "user-name.css";
@import "message-container.css";
@import "../components/leftPanelComponent/left-panel.css";
@import "../components/rigthPanelComponent/rightPanel.css";
@import "../components/oneMessageComponent/oneMessge.css";
@import "../components/userNameComponent/userName.css";
@import "../components/inpuMessageComponent/inputMessage.css";

body{
    margin: 0px;    
    font-family: 'Comfortaa', sans-serif;
}

h3{
    margin: 0px;
}

h1{
    margin: 0px;
    font-weight: bold;
}

em {
    font-style: italic;
}

p {
    margin: 0px;
    font-size: 16px;
}

.messanger {
    display: flex; 
    justify-content: space-between; /* Распределяем пространство между элементами */
    height: 100vh; /* Задаем высоту на весь экран */
}









