body{
    margin: 0px;    
    font-family: Arial, sans-serif;
}

h3{
    margin: 0px;
}

h1{
    margin: 0px;
    font-weight: bold;
}

em {
    font-style: italic;
}

p {
    font-size: 16px;
}

.messanger {
    display: flex; /* Используем Flexbox */
    justify-content: space-between; /* Распределяем пространство между элементами */
    height: 100vh; /* Задаем высоту на весь экран */
}

.chat-list {
    width: 20%; /* Ширина левой панели */
    background-color: #443850;
    padding: 5px; /* Отступы */
}

.chat-short{
    background-color: #8D91C7;
    height: 80px;
    margin: 5px;
    border-radius: 10px; /* Закругление краев */
    border: 2px solid #000; /* Обводка черного цвета толщиной 2 пикселя */
}

.right-panel {
    width: 20%; /* Ширина правой панели */
    background-color: #443850; /* Цвет фона для наглядности */
    padding: 5px; /* Отступы */
}

.message-container {
    width: 60%; /* Width of the central panel */
    background-color: #8D91C7; /* Background color */
    position: relative; /* Relative positioning for child elements */
    height: 100vh; /* Set a height for the container */
}

.user-name{
    height: 60px;
    background-color: #443850; 
    width: 100%;
    position: relative;
}

.input-message{
    width: calc(100% - 20px); /* Full width minus padding */
    height: 60px;
    border-radius: 10px; /* Закругление краев */
    border: 2px solid #000; /* Обводка черного цвета толщиной 2 пикселя */
    background-color: #BBBE64; /* Background color */
    position: absolute; /* Keep absolute positioning */
    bottom: 10px; /* Position it 10px from the bottom */
    left: 10px; /* Position it 10px from the left */
    padding: 5px; /* Add padding for better appearance */
    box-sizing: border-box; /* Include padding in width calculation */
    font-size: 20px;
}