body{
    margin: 0px;    
    font-family: Arial, sans-serif;
}

h3{
    margin: 0px;
}

h1{
    margin: 0px;
    font-weight: bold;
}

em {
    font-style: italic;
}

p {
    margin: 0px;
    font-size: 16px;
}

.messanger {
    display: flex; /* Используем Flexbox */
    justify-content: space-between; /* Распределяем пространство между элементами */
    height: 100vh; /* Задаем высоту на весь экран */
}

.chat-list {
    width: 20%; /* Ширина левой панели */
    background-color: #443850;
    padding: 5px; /* Отступы */
}

.chat-short{
    background-color: #8D91C7;
    height: 80px;
    margin: 5px;
    border-radius: 10px; /* Закругление краев */
    border: 2px solid #000; /* Обводка черного цвета толщиной 2 пикселя */
}

.right-panel {
    width: 20%; /* Ширина правой панели */
    background-color: #443850; /* Цвет фона для наглядности */
    padding: 5px; /* Отступы */
}

.message-container {
    width: 60%; /* Width of the central panel */
    background-color: #8D91C7; /* Background color */
  
}

.message-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Задаем высоту родительского контейнера */
}

.user-name-container {
    height: 60px;
    background-color: #443850;
    bottom: -1;

    transform: translateX(1%); /* Сдвигаем на половину ширины элемента влево для центрирования */
    width: 97%; /* Занимает 50% ширины экрана */
}

.one-message {
    flex-grow: 1; /* Занимает оставшееся пространство между user-name-container и input-container */
}

.input-message {
    font-size: 20px; /* Укажите желаемый размер шрифта */
    height: 40px;
    background-color: #8D91C7;
    margin: 5px;
    border-radius: 10px; /* Укажите радиус закругления */
    background-color: #8D91C7;
    margin: 5px;
    border-radius: 10px; /* Закругление краев */
    border: 2px solid #000; /* Обводка черного цвета толщиной 2 пикселя */

    bottom: 0; /* Устанавливаем его внизу */
    position: fixed; /* Фиксируем контейнер внизу экрана */
    left: 50%; /* Сдвигаем влево на 50% от ширины экрана */
    transform: translateX(-50%); /* Сдвигаем на половину ширины элемента влево для центрирования */
    width: 50%; /* Занимает 50% ширины экрана */
    background-color: white; /* Фон для лучшей видимости */
}

