.one-message{
    margin: 5px;
    padding: 10px;
    background-color: #F2F7F2;
    height: max-content;
    width: max-content;
    max-width: 70%;
    border-radius: 10px; /* Закругление краев */

}

.one-message {
    flex-grow: 1; /* Занимает оставшееся пространство между user-name-container и input-container */
}

.one-message-owner{
    align-self: flex-end;
    margin: 5px;
    padding-left: 50%;
    padding: 10px;
    background-color: #86598d;
    height: max-content;
    width: max-content;
    max-width: 70%;
    border-radius: 10px; /* Закругление краев */

}

.one-message-owner {
    flex-grow: 1; /* Занимает оставшееся пространство между user-name-container и input-container */
}